<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

  <p>{{mensaje}}</p>
  </div>
</template>

<script>

import axios from 'axios';

export default {
  props: ['msg'],
  // name: 'HelloWorld',
  // props: {
  //   msg: String
  // }
  data(){
    return {
      mensaje:''
    }
  },
  mounted() {

            axios.get('http://localhost:3000').then((response)=>{
              this.mensaje = response.data
            });

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
